*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body{
        display: flex;
        flex-direction: column;
        min-height: 100vh; 
        background-image: url('img/tokyo.jpg');

}


/*Navbar*/
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #000;
}
.navbar{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    color:#fff;
    list-style: none;
    font-weight: bold;
}
.navbar li:hover{
    text-decoration: underline;
    font-size: 20px;
}
nav a {
    text-decoration: none; 
    color: #fff; 
}


.container{
    display: flex;
    justify-content: center;
    flex-grow: 1; 
}
.prority-box{
  width: 30vw;
  height: auto;
 
}

.prority-box h1{
    width: 100%;
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: azure;
    text-align: center;
}

/*Card*/

.card-low{
    width: 90%;
    color: #fff;
    background-color: 	#07182E;
     border-radius: 20px;
     margin-top: 20px;
     padding: 10px;
}

/*Prioridad baja*/
.card-low:hover{
    background-color: green;
}

.card-border-low{
    border: 3px solid green;
}
/*Prioridad media*/

.card-medium{
    width: 90%;
    color: #fff;
    background-color: 	#07182E;
    margin-top: 20px;
     border-radius: 20px;
     padding: 10px;
}
.card-medium:hover{
    background-color: orange;
}

.card-border-medium{
    border: 3px solid orange;
}

/*Prioridad alta*/

.card-high{
    width: 90%;
    color: #fff;
    background-color: 	#07182E;
    margin-top: 20px;
     border-radius: 20px;
     padding: 10px;
}
.card-high:hover{
    background-color: red;
}

.card-border-high{
    border: 3px solid red;
}

.card-name{
    width: 100%;
 
    text-align: center;
   
}

.card-state{
    text-align: start;
    margin-top: 5px;
    margin-bottom: 5px;
}

.description{
    font-weight: bold;
    text-align: start;
}

.task-check{
    margin-top:5px;
    text-align: end;
}

/*Footer*/
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #000;
}
.footer-page{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    background-color: black;
    color:#fff;
    list-style: none;
    font-weight: bold;
}

.footer-page li:hover{
    text-decoration: underline;
}

@media (max-width: 1200px) {
    .prority-box {
        width: 45vw;
    }
}

@media (max-width: 880px) {
    .navbar {
        width: 90%;
        flex-direction: column;
        justify-content: center;
        height: auto;
    }

    .navbar li {
        padding: 15px 0;
    }
    .container {
        flex-direction: column; 
        align-items: center;   
    }

    .prority-box {
        width: 80vw; 
    }
}

@media (max-width: 480px) {
    .navbar {
        width: 90%;
        flex-direction: column;
        justify-content: center;
        height: auto;
    }

    .navbar li {
        padding: 15px 0;
    }
    

    .container {
        align-items: center;
        justify-content: center; 
        margin-top: 20px;
    }


    .footer-page {
        width: 90%;
    }

    .prority-box {
        width: 100%; 
        padding: 10px;
    }
}